<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Hustle</title>
  <link rel="shortcut icon" href="/images/Favicon/Title.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/2de811935a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <!-- This is the main Container -->
  <div id="container">       
   
    <h1>TODO App</h1>

    <div id='main'>

      <form  action="/createTask" method='POST'>
        <!-- 1st Row -->
        <div class='rowDiv'>
          <label for="descrip">DESCRIPTION</label>
          <input type='string' id='desscrip' placeholder='Enter Description' name='descrip' required>    
        </div>
        <!-- 2nd Row -->
        <div class='secRow'>
          <div> 
            <label for="type">CATEGORY</label>
            <select name="category" id="type" required>
              <option value="Personal" id='type'>Choose a category</option>
              <option value="Personal" id='type'>Personal</option>
              <option value="Work" id='type'>Work</option>
              <option value="Social" id='type'>Social</option>
            </select>    
          </div>
          <div >
            <label for="dueDate">DUE DATE</label>
            <input type='date' id='descrip' name='dateV' required>    
          </div>
        </div>
        <!-- 3rd Row -->
        <div class='secRow'>
            <div class='buttonStyle' id='plusB'> 
              <button id="addItem"><i class='fas fa-plus'>ADD TASK</i></button>
            </div>
        </div>
      </form>
    </div>
<!-- List Tasks After the Form  -->
    <ul class='tasks'>
     <form action="/deleteTasks" method="POST">
      <%for(let task of taskList){ %>
        <li class='horiStyle'>
          <div class="delButton"><input name="<%=task.id%>" type="checkbox" value="<%=task.id%>" ></div>
          <div class='descrip'>
            <div class='descripText'><%=task.descrip %></div>
            <div class='dateDescrip'>
              <i class='fas fa-calendar'></i><div><%=task.dateV%></div>
            </div>
          </div>
          <div class='buttonLink'><%=task.category%></div>
        </li>
      <% }%>
    </ul>
    <div class='secRow'>
      <div class='buttonStyle'> 
        <button id="delB"><i class='fas fa-plus'>DEL TASK</i></button>
      </div>
    </div>
     </form>
  </div>
  <!-- This file contains the code for changing the color of various categories TASK once loaded -->
  <script src="/js/taskProfile.js"></script> 
  </body>
</html>